body {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
}

.container {
  width: 100%;
}
.container .heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  padding: 40px 20px;
}

.container .heroes .hero {
  width: 80px;
  height: 90px;
  margin: 4px;
  border: 3px solid #fff;
  border-radius: 10px;
  background-color: #777;
  transform: skewX(-14deg);
  overflow: hidden;
}

.container .heroes .hero:hover {
  transform: skew(-14deg) scale(1.3);
  background-color: orange;
  border-color: orange;
  transition: transform 0.1s, background-color 0.5s, border-color 0.5s;
  z-index: 1;
}

.container .heroes .hero img {
  width: 140%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: skew(14deg) translateX(-10px);
}

.container .heroes .hero .image:hover {
  width: 100px;
  height: 110px;
}

/* .container .heroes .hero:nth-child(1) .image {
  background-image: url(./images/hero1.png);
} */
.container .logoimg {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: auto;
}
